<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Pokémon - Lucca Zovedi</title>

    <!-- links scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

    <!-- links css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/css/styles.css">
    <link href="./src/script/index.js">

    <!--ícone da página -->
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1408/1408998.png" type="image/x-icon">

  </head>
  <body>

    
    <div id="app">

        <!-- PESQUISA -->
        <div class="container">
          <div class="search-container">
            <input type="text" v-model="buscaPokemon" id="searchField" @input="searchPokemon"/>
            <div id="optionsContainer"></div>
            <p v-if="error">{{ error }}</p>
            <p v-if="loading">Buscando na Pokedex...</p>
          </div>
        </div>
        <center><div v-if="pokemon"><img :src="pokemon.sprites.other.dream_world.front_default" alt="Pokémon Desenho"></div></center>

        <div v-if="pokemon">

          <!-- NAVEGAÇÃO -->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
              
                <li class="nav-item"><a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Características</a></li>
              
                <li class="nav-item"><a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Imagens</a></li>


                <li class="nav-item"><a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Extras</a></li>
              </ul>
          <!-- CONTEÚDO -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <img :src="pokemon.sprites.front_default" alt="Pokémon Pixel F">
                <img :src="pokemon.sprites.back_default" alt="Pokémon Pixel C">
                <img :src="pokemon.sprites.other.dream_world.front_default" alt="Pokémon Desenho">
                <img :src="pokemon.sprites.other.home.front_default" alt="Pokémon Game">
              </div>

              <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <p>Nome: {{ nome }}</p>
                  <p>ID: {{ id }}</p>
                  <p>Altura: {{ altura }}</p>
                  <p>Peso: {{ peso }}</p>
                  <p>Tipos:</p>
                  <ul>
                    <li v-for="tipo in tipos">{{ tipo }}</li>
                  </ul>
                  <p>Habilidades:</p>
                  <ul>
                    <li v-for="habilidade in habilidades">{{ habilidade }}</li>
                  </ul>
                  <p>Estatísticas:</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="estatistica in estatisticas">
                        <td>{{ estatistica.nome }}</td>
                        <td>{{ estatistica.valor }}</td>
                      </tr>
                    </tbody>
                  </table>
                  
              </div>

              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <p>Movimentos:</p>
                  <ul>
                    <li v-for="movimento in movimentos">{{ movimento }}</li>
                  </ul>
                  <p>Itens segurados:</p>
                  <ul>
                    <li v-for="item in held_items">{{ item }}</li>
                  </ul>
                  <p>Espécie: {{ species }}</p>
                  <p>Sprites:</p>
                  <img :src="sprites.front_default" />
                  <img :src="sprites.back_default" />
                  <p>Formas:</p>
                  <ul>
                    <li v-for="forma in forms">{{ forma }}</li>
                  </ul>
                  <h2>Game Indices</h2>
                  <ul>
                    <li v-for="gameIndex in gameIndices">{{ gameIndex.game_index }} - {{ gameIndex.version.name }}</li>
                </ul>
              </div>
            </div>
        </div>
    </div>
  </body>

  <!-- SCRIPTS -->
  <script src="index.js"></script>

</html>
