<!DOCTYPE html> 
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>API Pokémon - Lucca Zovedi</title>
      <!-- links scripts -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
      <!-- links css-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="./src/css/styles.css">
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/pokemon" type="text/css"/>
      <!--ícone da página -->
      <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1408/1408998.png" type="image/x-icon">
   </head>
   <body>
      <div id="app">
         <!-- PESQUISA -->
         <div class="container">
            <div class="search-container">
               <input type="text" v-model="buscaPokemon" id="searchField" @input="searchPokemon" placeholder="Digite o nome ou ID do Pokémon"/>
               <div id="optionsContainer"></div>
               <p v-if="error">{{ error }}</p>
               <p v-if="loading">Buscando na Pokedex...</p>
               <img v-if="img" style="margin-top:5vh" src="https://cdn-icons-png.flaticon.com/512/1752/1752776.png"/>
            </div>
         </div>
         <!-- PRIMEIRA IMAGEM -->
         <center>
            <div v-if="pokemon">
              <img :src="pokemon.sprites.other.dream_world.front_default" alt="Pokémon Desenho">
            <p style="font-style: italic"><strong>{{ nome }}</strong></p>
            </div>
         </center>
         <div v-if="pokemon">
            <!-- NAVEGAÇÃO -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
               <li class="nav-item"><a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Características</a></li>
               <li class="nav-item"><a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">Imagens</a></li>
               <li class="nav-item"><a class="nav-link" id="extras-tab" data-toggle="tab" href="#extras" role="tab" aria-controls="extras" aria-selected="false">Extras</a></li>
               <li class="nav-item"><a class="nav-link" id="game-tab" data-toggle="tab" href="#game" role="tab" aria-controls="game" aria-selected="false">Indices</a></li>
            </ul>
            <!-- CONTEÚDO -->
            <div class="tab-content" id="myTabContent">
               <!-- IMAGENS -->
               <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                  <center>
                     <img :src="pokemon.sprites.front_default" alt="Pokémon Pixel F"></br>
                     <img :src="pokemon.sprites.back_default" alt="Pokémon Pixel C"></br>
                     <img :src="pokemon.sprites.other.dream_world.front_default" alt="Pokémon Desenho"></br>
                     <img :src="pokemon.sprites.other.home.front_default" alt="Pokémon Game"></br>
                  </center>
               </div>
               <!-- CARACTERÍSTICAS -->
               <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <p><strong>Nome:</strong> {{ nome }}</p>
                  <p><strong>ID:</strong> {{ id }}</p>
                  <p><strong>Altura:</strong> {{ altura }}</p>
                  <p><strong>Peso:</strong> {{ peso }}</p>
                  <p><strong>Tipos:</strong></p>
                  <ul>
                     <li v-for="tipo in tipos">{{ tipo }}</li>
                  </ul>
                  <p><strong>Habilidades:</strong></p>
                  <ul>
                     <li v-for="habilidade in habilidades">{{ habilidade }}</li>
                  </ul>
                  <p><strong>Estatísticas:</strong></p>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Tipo</th>
                           <th>Valor</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="estatistica in estatisticas">
                           <td>{{ estatistica.nome }}</td>
                           <td>{{ estatistica.valor }}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <!-- EXTRAS -->
               <div class="tab-pane fade" id="extras" role="tabpanel" aria-labelledby="extras-tab">
                  <p><strong>Itens segurados:</strong></p>
                  <ul>
                     <li v-if="item in held_items">{{ item }}</li>
                  </ul>
                  <p><strong>Espécie: </strong></p>
                  <ul>
                     <li>{{ species }}</li>
                  </ul>
                  <p><strong>Formas:</strong></p>
                  <ul>
                     <li v-for="forma in forms">{{ forma }}</li>
                  </ul>
                  <!-- MOVIMENTOS -->
                  <p><strong>Movimentos:</strong></p>
                  <ul>
                     <li v-for="movimento in movimentos">{{ movimento }}</li>
                  </ul>
               </div>
               <!-- GAME INDICES -->
               <div class="tab-pane fade" id="game" role="tabpanel" aria-labelledby="game-tab">
                  <p><strong>Game Indices:</strong></p>
                  <ul>
                     <li v-for="gameIndex in gameIndices">
                        {{ gameIndex.game_index }} - {{ gameIndex.version.name }}
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div> 
   </body>
   <!-- SCRIPTS -->
   <script src="./src/script/index.js"></script>
</html>
