.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
}
 
.search-container {
	display: flex;
	flex-direction: column;
	align-items: center;

}

input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border-radius: 50px;
	border: 1px solid gray;
	margin-bottom: 1px;
	width: 35vh;
}

::-webkit-input-placeholder {
	font-weight: 800;
	font-style: italic;
}

img {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
}

body {
	background-image: url("https://i.pinimg.com/originals/93/98/94/9398944b931f51d4ab0a8e92f44ca452.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}

#myTabContent {
	background-color: rgba(255, 255, 255, 0.411);
	margin:5px;
}

.nav-item,
.nav-link {
	background-color: rgba(255, 255, 255, 0.048);
	color: black;
	text-transform: capitalize;
}

p,
li,
td,
th {
	text-transform: uppercase;
}
